/*-----------HEADER----------
------------------------------*/

body {
  background-color: #be9d9d;
}

header {
  background-color: #4c8e96;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding-top: 7rem;
}

li {
  background-color: #1b212f;
  padding: 5px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: inline;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 0.2rem;
}

#logo {
  background-color: #30364c;
  font-size: 6rem;
  color: white;
  margin-right: 10rem;
  text-align: center;
  padding: 4rem 1rem;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  background-color: transparent;
}

.hero {
  border: 5px solid #8ab3b7;
  margin-top: 3rem;
  background-color: #ffffff;
  border-radius: 3px;
}

#image-container {
  width: 353px;
  height: 355px;
}

#image-hr {
  object-fit: cover;
  width: 353px;
  height: 355px;
}

#hero-text {
  font-size: 4rem;
  padding-top: 9rem;
  margin-left: 9rem;
  font-weight: bold;
}

#hair-pictures {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#hair-pictures img {
  border: 3px solid #8ab3b7;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 3px;
}

#description-pictures {
  margin-top: 2rem;
}

#description-pictures h5 {
  font-size: 1.9rem;
  font-weight: 600;
  padding-left: 1rem;
}

#description-pictures p {
  font-size: 1.3rem;
  padding-left: 1rem;
}

section {
  border: 5px solid #8ab3b7;
  background-color: #ffffff;
  border-radius: 3px;
}

.bg-color {
  background-color: #4c8e96;
  color: #fdfefe;
  font-weight: bolder;
}

section h4 {
  display: inline;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-left: 1rem;
  position: absolute;
}

#header-section {
  padding: 10% 5%;
}

section p {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.3rem;
}

.bg-color p {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#header-section ~ p {
  color: black;
}

article {
  position: relative;
}

#losing-hair {
  position: absolute;
  width: 454px;
  height: 227px;
  right: 0;
  bottom: 50px;
}

#losing-hair span {
  float: right;
  padding-top: 3.5rem;
  padding-right: 2rem;
  font-size: 1.8rem;
}

footer {
  background-color: #4c8e96;
  color: #ffffff;
  text-align: center;
  margin: 5rem 0;
  font-weight: bolder;
}

footer span {
  display: inline-block;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

i {
  color: #30364c;
}

a,
i {
  transition: font-size 0.35s ease;
}

#icons {
  display: inline;
  padding-left: 10rem;
}

/*======= MEDIA QUERIES =======*/

@media (max-width: 400px) {
  li {
    display: block;
  }

  #image-hr {
    max-width: 100%;
    max-height: 100%;
  }

  #hero-text {
    margin: auto;
    padding: 0;
    font-size: 3rem;
  }

  #hair-pictures img {
    margin-bottom: 1rem;
  }

  #header-section h4 {
    font-size: 2.2rem;
  }

  #losing-hair {
    position: unset;
    width: 310px;
    height: 100%;
    text-align: center;
  }

  #losing-hair span {
    display: block;
    float: initial;
    padding-bottom: 0.8rem;
  }

  .bg-color {
    margin-top: 2rem;
  }

  #icons {
    display: block;
    padding: 0;
    padding-bottom: 0.8rem;
  }
}

/*--------------------*/
